In [4]:
import pandas as pd

path = "t100_raw/2010_Jan.asc"

df = pd.read_csv(path, sep="|", header=None, engine="python")
print(df.shape)
df.head()

(332982, 27)

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,2009,5,03A,33301,1,"GRANITE MOUNTAIN,ALASKA,USA",AKN,44800,1,"KING SALMON,ALASKA,USA",...,2,3,0,141000.0,0,0,0,0,300,276
1,2009,5,03A,33301,1,"GRANITE MOUNTAIN,ALASKA,USA",ANC,3291,1,"ANCHORAGE,ALASKA,USA",...,2,8,0,376000.0,0,0,0,0,786,708
2,2009,8,03A,33301,1,"GRANITE MOUNTAIN,ALASKA,USA",ANC,3291,1,"ANCHORAGE,ALASKA,USA",...,2,2,0,94000.0,0,0,46936,0,198,186
3,2009,6,03A,33301,1,"GRANITE MOUNTAIN,ALASKA,USA",ANC,3291,1,"ANCHORAGE,ALASKA,USA",...,2,1,0,47000.0,0,0,0,0,90,84
4,2009,6,03A,33301,1,"GRANITE MOUNTAIN,ALASKA,USA",ANC,3291,1,"ANCHORAGE,ALASKA,USA",...,2,1,0,47000.0,0,0,0,0,114,108

In [2]:
row = df.iloc[0]
for i, val in enumerate(row):
    print(i, val)

0 2009
1 5
2 03A
3 33301
4 1
5 GRANITE MOUNTAIN,ALASKA,USA
6 AKN
7 44800
8 1
9 KING SALMON,ALASKA,USA
10 L2
11 06699
12 1
13 497
14 P
15 5
16 56
17 2
18 3
19 0
20 141000.0
21 0
22 0
23 0
24 0
25 300
26 276

In [1]:
import glob, random
import pandas as pd
import numpy as np

files = glob.glob(r"D:\MERGER IMPACT ANALYSIS\t100_raw\*.asc")
sample_files = random.sample(files, 10)

SEP="|"
ORIG_IDX=3
DEST_IDX=7

def uniq_pairs(path, nrows=20000):
    x = pd.read_csv(path, sep=SEP, header=None, engine="python", nrows=nrows, usecols=[ORIG_IDX, DEST_IDX])
    o = pd.to_numeric(x[ORIG_IDX], errors="coerce")
    d = pd.to_numeric(x[DEST_IDX], errors="coerce")
    ok = (~o.isna()) & (~d.isna())
    o = o[ok].astype(int).to_numpy()
    d = d[ok].astype(int).to_numpy()
    lo = np.minimum(o,d)
    hi = np.maximum(o,d)
    return len(set(zip(lo,hi))), ok.mean()

for fp in sample_files:
    u, share_ok = uniq_pairs(fp)
    print(fp.split("\\")[-1], "uniq_pairs:", u, "ok_share:", round(share_ok,3))

2016_Feb.asc uniq_pairs: 1287 ok_share: 1.0
2013_Aug.asc uniq_pairs: 1247 ok_share: 1.0
2015_July.asc uniq_pairs: 1322 ok_share: 1.0
2010_Oct.asc uniq_pairs: 1412 ok_share: 1.0
2011_Mar.asc uniq_pairs: 1333 ok_share: 1.0
2011_May.asc uniq_pairs: 1325 ok_share: 1.0
2012_Sep.asc uniq_pairs: 1312 ok_share: 1.0
2014_Sep.asc uniq_pairs: 1276 ok_share: 1.0
2012_April.asc uniq_pairs: 1273 ok_share: 1.0
2015_Nov.asc uniq_pairs: 1279 ok_share: 1.0

In [5]:
col_map = {
    0:  "YEAR",
    1:  "MONTH",
    10:  "CARRIER",
    3:  "ORIGIN_CITY_MKT",
    11: "DEST_CITY_MKT",
    16: "PASSENGERS",
    17: "DEPARTURES",
    26: "SEATS"
}

In [8]:
df = df.rename(columns=col_map)
df = df[list(col_map.values())]

df['CARRIER'].unique()

array(['L2', '7S', '3Z', 'HB', '04Q', 'FX', '2O', '2F', 'H6', 'GV', '4W',
       'K3', 'KS', 'XE', 'U5', 'EV', 'OO', 'C5', '9L', 'GL', 'YV', 'ZW',
       '16', 'US', '9E', 'YX', 'RW', 'RP', 'NW', 'CO', 'UA', 'U7', 'CP',
       'FL', 'G4', 'S5', 'OH', 'DL', 'NK', 'XP', 'SLQ', 'VX', 'FCQ',
       'PCQ', '17', 'MQ', 'AA', 'SY', 'OW', 'WN', '8E', '5F', '8V', 'LW',
       'EM', 'RD', 'SI', 'GFQ', 'B6', 'ZK', 'F9', 'L3', 'L4', '5X', '0WQ',
       '0JQ', 'AMQ', 'WI', 'PT', 'XJ', 'MRQ', '9K', 'QX', '7H', 'AS',
       'KO', '8D', 'NC', '2E', 'KAQ', nan, 'YR', 'X9', 'J5', 'V8', '7N',
       '4Y', 'KAT', 'F8', 'G7', 'AX', 'KLQ', 'PO', '5Y', 'WO', '9S', 'EZ',
       'BNQ', '4E', 'ELL', 'WE', '09Q', 'KAH', 'K5', '8C', 'ABX', 'ER',
       'WV', 'JW', 'CS', 'CH', '3M', 'M6', 'NEW', 'WST', 'UH', 'PRQ',
       '0MQ', 'SNK', '3F', 'Z3', 'Q5', 'HA', 'WRD', '0ZQ', 'X4', 'FRA',
       'PFQ', 'AQ', 'WP', 'AJQ', 'GCH', 'HBQ', 'SEB', 'VI'], dtype=object)

In [6]:
df["PASSENGERS"].nunique(), df["PASSENGERS"].describe()

(82,
 count    332982.000000
 mean         42.787400
 std          29.264454
 min           3.000000
 25%          17.000000
 50%          31.000000
 75%          75.000000
 max          99.000000
 Name: PASSENGERS, dtype: float64)

In [7]:
df["mkt"] = (
    df[["ORIGIN_CITY_MKT", "DEST_CITY_MKT"]]
    .astype(str)
    .apply(lambda x: "_".join(sorted(x)), axis=1)
)

In [8]:
df.head()

,YEAR,MONTH,CARRIER,ORIGIN_CITY_MKT,DEST_CITY_MKT,PASSENGERS,DEPARTURES,SEATS,mkt
0,2009,5,03A,33301,06699,56,2,276,06699_33301
1,2009,5,03A,33301,06699,56,2,708,06699_33301
2,2009,8,03A,33301,06699,56,2,186,06699_33301
3,2009,6,03A,33301,06699,56,2,84,06699_33301
4,2009,6,03A,33301,06699,56,2,108,06699_33301

In [9]:
import pandas as pd

path = r"D:\MERGER IMPACT ANALYSIS\t100_processed\t100_citypair_quarter.parquet"
df = pd.read_parquet(path)

df.head()

          mkt  YEAR  quarter carrier   seats   pax  dep
0  1006_12200  2009        1     BOS  144213   964   10
1   1006_2200  2009        1     ABE    2510   576    6
2  1006_41900  2009        1     AZO    6999   964   10
3  1006_48880  2009        1     LAS   74121  1152   12
4  1006_51410  2009        1     LAX  327330  2390   25

In [11]:
df["carrier"].head(20).tolist()

['BOS',
 'ABE',
 'AZO',
 'LAS',
 'LAX',
 'JFK',
 'PIT',
 'PBG',
 'PGD',
 'IAG',
 'RFD',
 'SAN',
 'SFB',
 'SFO',
 'MYR',
 'SEA',
 'TOL',
 'IAD',
 'ORH',
 'BDL']

In [12]:
import re

raw = pd.read_csv("t100_raw/2010_Jan.asc", sep="|", header=None, engine="python")

def looks_like_airline(x):
    # Common airline code patterns in BTS: 2 letters (AA, US, DL, WN) sometimes 3 alnum (e.g., "3M" etc.)
    s = str(x).strip()
    return bool(re.fullmatch(r"[A-Z0-9]{2,3}", s))

candidates = []
for j in range(raw.shape[1]):
    col = raw[j].astype(str).str.strip()
    # ignore purely numeric columns quickly
    if col.str.fullmatch(r"\d+(\.\d+)?").mean() > 0.98:
        continue
    share = col.apply(looks_like_airline).mean()
    top = col.value_counts().head(10).index.tolist()
    if share > 0.50:  # threshold: lots of values look like airline codes
        candidates.append((j, share, top))

sorted(candidates, key=lambda x: -x[1])[:10]

[(2,
  1.0,
  ['ORD', 'ATL', 'DEN', 'CLT', 'MSP', 'PHL', 'DTW', 'MEM', 'IAH', 'DFW']),
 (6,
  1.0,
  ['ORD', 'ATL', 'DEN', 'CLT', 'MSP', 'PHL', 'DTW', 'MEM', 'IAH', 'DFW']),
 (10,
  0.999534509372879,
  ['WN', 'FX', 'H6', 'NW', 'UA', 'US', 'DL', 'OO', 'CO', 'MQ'])]

In [19]:
raw.shape
raw[10].astype(str).str.strip().value_counts().head(20)

10
WN    25708
FX    15794
H6    14602
NW    12772
UA    12677
US    12446
DL    11916
OO    11634
CO    10863
MQ    10414
AA     8974
XE     8891
5X     8114
OH     7107
8E     6687
GV     6377
YV     6320
G4     5765
EV     5728
9E     5597
Name: count, dtype: int64

In [1]:
import pandas as pd

raw = pd.read_csv("t100_raw/2010_Jan.asc", sep="|", header=None, engine="python")

print("raw shape:", raw.shape)

for j in [3, 7, 11, 6, 2]:
    s = raw[j]
    print("\ncol", j, "nunique:", s.nunique(dropna=True))
    print(s.astype(str).str.strip().value_counts().head(10))

raw shape: (332982, 27)

col 3 nunique: 1114
3
18500    11395
63760    10951
5852      9291
24091     8042
96460     6907
37320     6678
17960     6665
23208     6327
57970     6325
69880     6212
Name: count, dtype: int64

col 7 nunique: 1136
7
63760    11476
18500    11458
5852      9421
24091     8094
96460     6894
37320     6792
23208     6600
17960     6594
57970     6377
69880     6146
Name: count, dtype: int64

col 11 nunique: 163
11
06725    25708
06200    15791
06984    14602
01600    12731
0A875    12676
02040    12446
01260    11916
06700    11634
01220    10685
06820    10414
Name: count, dtype: int64

col 6 nunique: 1214
6
ORD    9449
ATL    9421
DEN    8080
CLT    6594
MSP    6377
PHL    6145
DTW    5939
MEM    5704
IAH    5546
DFW    5387
Name: count, dtype: int64

col 2 nunique: 1188
2
ORD    9545
ATL    9291
DEN    8027
CLT    6665
MSP    6325
PHL    6210
DTW    6012
MEM    5827
IAH    5418
DFW    5152
Name: count, dtype: int64

In [2]:
def mkt_count(a, b):
    x = pd.to_numeric(raw[a], errors="coerce")
    y = pd.to_numeric(raw[b], errors="coerce")
    tmp = pd.DataFrame({"a": x, "b": y}).dropna()
    mkt = tmp.apply(lambda r: "_".join(map(str, sorted([int(r.a), int(r.b)]))), axis=1)
    return mkt.nunique()

for a, b in [(3,11), (7,11), (3,7), (7,3)]:
    print((a,b), "unique mkts:", mkt_count(a,b))

(3, 11) unique mkts: 8635
(7, 11) unique mkts: 8687
(3, 7) unique mkts: 14846
(7, 3) unique mkts: 14846

In [10]:
df.info, df.describe()

(<bound method DataFrame.info of                mkt  YEAR  quarter carrier   seats   pax  dep
 0       1006_12200  2009        1     BOS  144213   964   10
 1        1006_2200  2009        1     ABE    2510   576    6
 2       1006_41900  2009        1     AZO    6999   964   10
 3       1006_48880  2009        1     LAS   74121  1152   12
 4       1006_51410  2009        1     LAX  327330  2390   25
 ...            ...   ...      ...     ...     ...   ...  ...
 225197  7041_34783  2016        4     SGF   23051   434   14
 225198  7041_34986  2016        4     SRQ   21757   186    6
 225199  7041_35096  2016        4     SYR   23294   962   29
 225200  7041_35380  2016        4     TVC    6173   186    6
 225201  7041_35412  2016        4     TYS   16178   310   10

 [225202 rows x 7 columns]>,
               YEAR        quarter         seats           pax            dep
 count     225202.0  225202.000000  2.252020e+05  2.252020e+05  225202.000000
 mean   2012.069662       2.524276  2.593115e+05  5.238912e+03     145.232724
 std       2.162867       1.112121  1.361810e+06  1.953946e+04     485.408637
 min         2009.0       1.000000  0.000000e+00  5.000000e+00       1.000000
 25%         2010.0       2.000000  1.630000e+03  3.850000e+02      12.000000
 50%         2011.0       3.000000  1.746850e+04  1.161000e+03      41.000000
 75%         2014.0       4.000000  1.200382e+05  4.036750e+03     120.000000
 max         2016.0       4.000000  7.179749e+07  1.019640e+06   23184.000000)

In [3]:
dfq = pd.read_parquet(r"D:\MERGER IMPACT ANALYSIS\t100_processed\t100_citypair_quarter.parquet")

print("years:", sorted(dfq["YEAR"].unique())[:10], "...", sorted(dfq["YEAR"].unique())[-10:])
print("n years:", dfq["YEAR"].nunique())
print("quarters:", sorted(dfq["quarter"].unique()))
print("n mkts:", dfq["mkt"].nunique())
print("rows:", len(dfq))

years: [2009, 2010, 2011, 2012, 2013, 2014, 2015] ... [2009, 2010, 2011, 2012, 2013, 2014, 2015]
n years: 7
quarters: [1, 2, 3, 4]
n mkts: 2
rows: 3911

In [10]:
path = r"D:\MERGER IMPACT ANALYSIS\t100_raw\2012_Aug.asc"  # or whatever file failed
sample = pd.read_csv(path, sep="|", header=None, nrows=100)

# Check columns 3 and 11 (your orig/dest indices)
print(f"\nColumn 10 sample: {sample[10].head(10).tolist()}")
print(f"Column 16 sample: {sample[16].head(10).tolist()}")
print(f"\nColumn 17 sample: {sample[17].head(10).tolist()}")
print(f"Column 26 sample: {sample[26].head(10).tolist()}")

# See what the detector thinks
# for j in range(sample.shape[1]):
    # col = pd.to_numeric(sample[j], errors="coerce")
    # pct_5digit = ((col >= 10000) & (col <= 99999)).mean()
    # if pct_5digit > 0.1:
    #     print(f"Col {j}: {pct_5digit:.1%} look like city market IDs")

Column 10 sample: ['7S', '7S', '7S', '7S', '7S', '7S', 'H6', '3Z', '3Z', '3Z']
Column 16 sample: [12, 12, 35, 12, 35, 12, 16, 16, 79, 16]

Column 17 sample: [2, 2, 2, 2, 2, 2, 1, 3, 3, 3]
Column 26 sample: [50, 35, 50, 210, 82, 145, 40, 40, 143, 532]

In [11]:
import pandas as pd

# Test with your actual data
sample = pd.read_csv(r"D:\MERGER IMPACT ANALYSIS\t100_raw\2012_Aug.asc", 
                     sep="|", header=None, nrows=100)

orig = sample[3]
dest = sample[7]

print(f"Unique origins: {orig.nunique()}")
print(f"Unique dests: {dest.nunique()}")
print(f"\nSample origin values: {orig.unique()[:10]}")
print(f"Sample dest values: {dest.unique()[:10]}")

# Test market creation
o = orig.astype("int64")
d = dest.astype("int64")
lo = o.where(o <= d, d)
hi = d.where(o <= d, o)
mkt = lo.astype(str) + "_" + hi.astype(str)

print(f"\nUnique markets: {mkt.nunique()}")
print(f"Sample markets: {mkt.unique()[:10]}")

Unique origins: 8
Unique dests: 20

Sample origin values: [30003 30004 30005 30006 30008 30009 30010 30011]
Sample dest values: [33873 33970 30783 31517 35581 30070 30009 34942 30016 32222]

Unique markets: 21
Sample markets: ['30003_33873' '30003_33970' '30004_33970' '30005_30783' '30005_31517'
 '30005_35581' '30006_30070' '30008_30009' '30008_34942' '30009_30016']

In [15]:
import pandas as pd

# Check the part file
part = pd.read_parquet("t100_processed/parts/2011_Aug.parquet")
print(f"Part file: {len(part)} rows, {part['mkt'].nunique()} markets")
print(part['mkt'].value_counts().head(10))

# Check final file
final = pd.read_parquet(r"D:\MERGER IMPACT ANALYSIS\t100_processed\t100_citypair_quarter.parquet")
print(f"\nFinal file: {len(final)} rows, {final['mkt'].nunique()} markets")
print(final['mkt'].value_counts().head(10))

Part file: 0 rows, 0 markets
Series([], Name: count, dtype: int64)

Final file: 5869 rows, 6 markets
mkt
16_29    1869
16_31    1395
17_83    1269
17_84    1052
16_94     228
16_38      56
Name: count, dtype: int64

In [16]:
import pandas as pd

path = r"D:\MERGER IMPACT ANALYSIS\t100_raw\2012_Aug.asc"

# Read first chunk
df = pd.read_csv(path, sep="|", header=None, 
                 usecols=[0, 1, 10, 3, 7, 16, 17, 26],
                 names=["YEAR","MONTH","carrier","orig_city_mkt","dest_city_mkt","pax","dep","seats"],
                 nrows=1000)

print(f"Initial rows: {len(df)}")

# Check conversions
df["YEAR"] = pd.to_numeric(df["YEAR"], errors="coerce").astype("Int64")
df["MONTH"] = pd.to_numeric(df["MONTH"], errors="coerce").astype("Int64")
df["orig_city_mkt"] = pd.to_numeric(df["orig_city_mkt"], errors="coerce").astype("Int64")
df["dest_city_mkt"] = pd.to_numeric(df["dest_city_mkt"], errors="coerce").astype("Int64")

print(f"After numeric conversion: {len(df)}")
print(f"NAs: YEAR={df['YEAR'].isna().sum()}, MONTH={df['MONTH'].isna().sum()}, orig={df['orig_city_mkt'].isna().sum()}, dest={df['dest_city_mkt'].isna().sum()}, carrier={df['carrier'].isna().sum()}")

# Check dropna
df = df.dropna(subset=["YEAR", "MONTH", "orig_city_mkt", "dest_city_mkt", "carrier"])
print(f"After dropna: {len(df)}")

Initial rows: 1000
After numeric conversion: 1000
NAs: YEAR=0, MONTH=0, orig=0, dest=942, carrier=0
After dropna: 58

In [17]:
import pandas as pd

sample = pd.read_csv(r"D:\MERGER IMPACT ANALYSIS\t100_raw\2012_Aug.asc", 
                     sep="|", header=None, nrows=1000)

col7 = sample[7]
print(f"Column 7 unique values (first 30): {col7.unique()[:30]}")
print(f"\nValue counts:")
print(col7.value_counts().head(20))

# Check if it's numeric
numeric = pd.to_numeric(col7, errors="coerce")
print(f"\n% numeric: {(~numeric.isna()).mean():.1%}")
print(f"Non-numeric examples: {col7[numeric.isna()].unique()[:10]}")

Column 7 unique values (first 30): [33873 33970 30783 31517 35581 30070 30009 34942 30016 32222 30011 30511
 30661 31399 30463 32745 33572 34081 35532 32211 31703 30278 32869 32771
 30304 32807 34627 30107 36440 30245]

Value counts:
7
33970    113
33806     66
30194     59
34100     58
31703     51
31057     50
30009     47
31517     36
33244     31
32268     29
30397     24
30070     24
31295     22
31454     22
30852     21
33942     20
32211     18
32337     18
32896     16
30661     15
Name: count, dtype: int64

% numeric: 100.0%
Non-numeric examples: []

In [18]:
import pandas as pd

# Read exactly how your script does it
path = r"D:\MERGER IMPACT ANALYSIS\t100_raw\2012_Aug.asc"

# Mimic detect_schema result
carrier_idx, orig_idx, dest_idx = 10, 3, 7

usecols = [0, 1, carrier_idx, orig_idx, dest_idx, 16, 17, 26]
colnames = ["YEAR", "MONTH", "carrier", "orig_city_mkt", "dest_city_mkt", "pax", "dep", "seats"]

df = pd.read_csv(path, sep="|", header=None, 
                 usecols=usecols, names=colnames, 
                 nrows=1000, engine="python")

print("After reading:")
print(df.dtypes)
print(f"dest_city_mkt sample: {df['dest_city_mkt'].head(10).tolist()}")
print(f"dest_city_mkt NAs: {df['dest_city_mkt'].isna().sum()}")

# Now convert like your script
df["dest_city_mkt"] = pd.to_numeric(df["dest_city_mkt"], errors="coerce").astype("Int64")

print("\nAfter conversion:")
print(f"dest_city_mkt sample: {df['dest_city_mkt'].head(10).tolist()}")
print(f"dest_city_mkt NAs: {df['dest_city_mkt'].isna().sum()}")

After reading:
YEAR              int64
MONTH             int64
carrier           int64
orig_city_mkt     int64
dest_city_mkt    object
pax               int64
dep               int64
seats             int64
dtype: object
dest_city_mkt sample: ['7S', '7S', '7S', '7S', '7S', '7S', 'H6', '3Z', '3Z', '3Z']
dest_city_mkt NAs: 0

After conversion:
dest_city_mkt sample: [<NA>, <NA>, <NA>, <NA>, <NA>, <NA>, <NA>, <NA>, <NA>, <NA>]
dest_city_mkt NAs: 942

In [1]:
import pandas as pd

path = r"D:\MERGER IMPACT ANALYSIS\t100_processed\t100_citypair_quarter.parquet"
df = pd.read_parquet(path)

print(df.columns)
print(df.dtypes)
df.head()

Index(['mkt', 'YEAR', 'quarter', 'carrier', 'seats', 'pax', 'dep'], dtype='object')
mkt        object
YEAR        Int64
quarter      int8
carrier    object
seats       int64
pax         int64
dep         int64
dtype: object

       mkt  YEAR  quarter carrier  seats  pax  dep
0  0_11030  2009        1      OH      0   58    2
1  0_11160  2009        1      OO      0   58    2
2  0_12200  2009        1      DL      0  112    2
3  0_12200  2009        1      NK      0  196    2
4  0_12200  2009        1      OH      0   87    3

In [3]:
print("YEAR min/max:", df["YEAR"].min(), df["YEAR"].max())
print("quarter unique:", sorted(df["quarter"].unique()))
print("any negative?", (df[["seats","pax","dep"]] < 0).any())

YEAR min/max: 2009 2016
quarter unique: [1, 2, 3, 4]
any negative? seats    False
pax      False
dep      False
dtype: bool

In [2]:
vc = df["carrier"].astype(str).str.strip().value_counts()
print("Top carriers:\n", vc.head(25))
print("Carrier code length distribution:\n", df["carrier"].astype(str).str.len().value_counts().head(10))

Top carriers:
 carrier
DL    183482
WN    158036
UA    144808
FX    137511
OO    108534
EV     86796
AA     78699
H6     70969
5X     67818
US     61645
MQ     58924
9E     45255
AS     44997
YX     36335
CO     35372
G4     30161
GV     29564
OH     27402
YV     27228
B6     27167
8E     26102
ZW     24630
S5     24066
RP     21070
7S     20929
Name: count, dtype: int64
Carrier code length distribution:
 carrier
2    2070279
3      81842
Name: count, dtype: int64

In [4]:
m = df["mkt"].astype(str)
parts = m.str.split("_", n=1, expand=True)
print("Bad split rows:", parts.isna().any(axis=1).mean())
print("Example mkts:", m.sample(10, random_state=0).tolist())

Bad split rows: 0.0
Example mkts: ['3400_30073', '5300_33211', '30325_40600', '24480_31136', '6000_32719', '64500_100000', '30000_30615', '33792_129500', '30852_1044000', '31295_787500']

In [5]:
# Count mkts per year-quarter (should be stable-ish and not absurdly huge)
tmp = df.groupby(["YEAR","quarter"])["mkt"].nunique().reset_index(name="n_mkts")
print(tmp.head(12))
print("median mkts per quarter:", tmp["n_mkts"].median())

    YEAR  quarter  n_mkts
0   2009        1   40782
1   2009        2   58664
2   2009        3   58632
3   2009        4   58668
4   2010        1   58106
5   2010        2   60206
6   2010        3   69762
7   2010        4   68697
8   2011        1  109782
9   2011        2  129296
10  2011        3   69664
11  2011        4   68089
median mkts per quarter: 60340.0

In [6]:
bad = ((df["dep"] > 0) & (df["seats"] == 0)).mean()
print("share(dep>0 & seats==0):", bad)

bad2 = ((df["pax"] > 0) & (df["seats"] == 0)).mean()
print("share(pax>0 & seats==0):", bad2)

share(dep>0 & seats==0): 0.002540749335190726
share(pax>0 & seats==0): 0.002540749335190726

In [2]:
df = df.loc[
    ~((df["pax"] > 0) & (df["seats"] == 0)) &
    ~((df["dep"] > 0) & (df["seats"] == 0))
]

In [3]:
def valid_mkt(m):
    try:
        a, b = m.split("_")
        return (10000 <= int(a) <= 99999) and (10000 <= int(b) <= 99999)
    except:
        return False

df = df.loc[df["mkt"].apply(valid_mkt)]

In [4]:
BUSH_OR_CARGO = {
    "5V","7S","3Z","HB","K3","GV","8E","0JQ","0MQ","HBQ"
}

df["is_bush_or_cargo"] = df["carrier"].isin(BUSH_OR_CARGO)

## sanity checks

In [7]:
import pandas as pd

raw_path = r"D:\MERGER IMPACT ANALYSIS\t100_raw\2010_Jan.asc"
raw = pd.read_csv(raw_path, sep="|", header=None, engine="python", nrows=50000)

# look for numeric-heavy columns near the end
candidates = []
for j in range(raw.shape[1]):
    x = pd.to_numeric(raw[j], errors="coerce")
    share_num = x.notna().mean()
    if share_num > 0.9:
        candidates.append((j, x.min(), x.median(), x.max(), (x == 0).mean()))
        
# print some “numeric-ish” columns with low zero-share (good for seats)
candidates_sorted = sorted(candidates, key=lambda t: t[4])
print("Top numeric columns with low zero share (idx, min, median, max, zero_share):")
print(candidates_sorted[:25])

Top numeric columns with low zero share (idx, min, median, max, zero_share):
[(0, 2009, 2009.0, 2010, 0.0), (1, 1, 7.0, 12, 0.0), (3, 210, 7230.0, 97240, 0.0), (4, 1, 23.0, 93, 0.0), (7, 210, 45920.0, 99530, 0.0), (8, 1, 34.0, 93, 0.0), (11, 1006.0, 6725.0, 80006.0, 0.0), (12, 1, 3.0, 3, 0.0), (16, 3, 29.0, 99, 0.0), (17, 1, 1.0, 4, 0.0), (25, 0, 584.0, 81112, 0.00464), (13, 0, 344.0, 4872, 0.0047), (20, 0.0, 101400.0, 25558960.0, 0.00502), (18, 0, 8.0, 1071, 0.00514), (26, 0, 468.0, 73165, 0.00536), (15, 0, 6.0, 8, 0.10172), (21, 0, 183.0, 89924, 0.14456), (22, 0, 120.0, 75912, 0.20964), (19, 0, 1.0, 1085, 0.4296), (23, 0, 4.0, 19850224, 0.48502), (24, 0, 0.0, 871168, 0.78506)]

In [8]:
# split mkt and see how often either side is 0
parts = df["mkt"].astype(str).str.split("_", expand=True)
a = pd.to_numeric(parts[0], errors="coerce")
b = pd.to_numeric(parts[1], errors="coerce")
print("share origin==0:", (a == 0).mean())
print("share dest==0:", (b == 0).mean())
print("share any side==0:", ((a == 0) | (b == 0)).mean())

share origin==0: 0.0019069559750590232
share dest==0: 0.0
share any side==0: 0.0019069559750590232

In [9]:
import pandas as pd
import numpy as np

raw_path = r"D:\MERGER IMPACT ANALYSIS\t100_raw\2010_Jan.asc"
raw = pd.read_csv(raw_path, sep="|", header=None, engine="python")

IDX_YEAR=0; IDX_MONTH=1; IDX_CARRIER=10
IDX_PAX=16; IDX_DEP=17

candidates = [19, 26]  # add more if you want, e.g. [18,19,20,25,26]
out = []

def to_num(s):
    return pd.to_numeric(s, errors="coerce")

for sidx in candidates:
    df = raw[[IDX_YEAR, IDX_MONTH, IDX_CARRIER, IDX_PAX, IDX_DEP, sidx]].copy()
    df.columns = ["YEAR","MONTH","carrier","pax","dep","seats_cand"]
    df["pax"] = to_num(df["pax"]).fillna(0)
    df["dep"] = to_num(df["dep"]).fillna(0)
    df["seats_cand"] = to_num(df["seats_cand"])

    # route-level keys are messy here; we’re just testing mechanical sanity overall
    bad_zero = ((df["pax"] > 0) & (df["seats_cand"] == 0)).mean()
    bad_nan  = df["seats_cand"].isna().mean()

    # load factor-ish (avoid divide by zero)
    lf = (df["pax"] / df["seats_cand"]).replace([np.inf, -np.inf], np.nan)
    lf_valid = lf.dropna()
    lf_over2 = (lf_valid > 2).mean() if len(lf_valid) else np.nan

    corr_dep = df[["dep","seats_cand"]].dropna().corr().iloc[0,1]

    out.append((sidx, bad_zero, bad_nan, lf_over2, corr_dep, df["seats_cand"].median(skipna=True)))

pd.DataFrame(out, columns=["seats_idx","share(pax>0 & seats=0)","share(seats NaN)","share(lf>2)","corr(dep,seats)","median(seats)"]).sort_values("share(pax>0 & seats=0)")

,seats_idx,share(pax>0 & seats=0),share(seats NaN),share(lf>2),"corr(dep,seats)",median(seats)
1,26,0.005087,0.0,0.034930,-0.154894,638.0
0,19,0.341685,0.0,0.436478,-0.176756,5.0

## Data Cleaning

In [5]:
import pandas as pd
import numpy as np

RAW_PATH = r"D:\MERGER IMPACT ANALYSIS\t100_processed\t100_citypair_quarter.parquet"
CLEAN_PATH = r"D:\MERGER IMPACT ANALYSIS\t100_processed\t100_citypair_quarter_clean.parquet"

df = pd.read_parquet(RAW_PATH)

In [6]:
df_clean = df.copy()

bad_rows = (
    (df_clean["seats"].isna()) |
    ((df_clean["seats"] == 0) & ((df_clean["pax"] > 0) | (df_clean["dep"] > 0)))
)

print("Rows before:", len(df_clean))
print("Dropping rows:", bad_rows.sum())

df_clean = df_clean.loc[~bad_rows].copy()

print("Rows after:", len(df_clean))

Rows before: 2152121
Dropping rows: 5468
Rows after: 2146653

In [7]:
# No impossible combinations
assert not ((df_clean["pax"] > 0) & (df_clean["seats"] == 0)).any()
assert not ((df_clean["dep"] > 0) & (df_clean["seats"] == 0)).any()

# Seats non-negative
assert (df_clean["seats"] >= 0).all()

# Market-time-carrier uniqueness
dup = df_clean.duplicated(["mkt","YEAR","quarter","carrier"]).mean()
print("Duplicate share:", dup)

Duplicate share: 0.0

In [8]:
df_clean.to_parquet(CLEAN_PATH, index=False)
print("Saved clean parquet to:", CLEAN_PATH)

Saved clean parquet to: D:\MERGER IMPACT ANALYSIS\t100_processed\t100_citypair_quarter_clean.parquet